<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
	</tr>
	<tr>
	  <th>Follows</th>
	  <td>
	    <%= link_to follows_user_path(user) do %>
	      <h6><%= user.followers.count %></h6>
	    <% end %>
	  </td>
  </tr>
  <tr>
    <th>Followers</th>
    <td>
      <%= link_to followers_user_path(user) do %>
        <h6><%= user.followeds.count %></h6>
      <% end %>
    </td>
  </tr>
  
</table>

<div class='row'>
  <% unless current_user == user %>
    <td><%= render partial: "relationships/follow_btn", locals: { user: user } %></td>
  <% else %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>